*{
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.headzone{
    display: flex;
    flex-direction: column;
}

#logo{
    width: 40vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.logotitre{
    display: flex;
    justify-content: center;

}

.menu{
    display: flex;
    height: 5vh;
    /*background-color: #D40004;*/
    justify-content: flex-end;
}

.burger_zone{
    display: flex;

    width: 5vh;
    height: 5vh;
    /*background-color: aquamarine;*/
    padding-right: 1vh;
    
    flex-direction: column;


    justify-content: space-around;
}



.hamburger{
    height: 0.5vh;
    width: 4vh;
    background-color: black;
}

#ham{
    
}


.carousel{
    display: flex;
    justify-content: center;
    align-items: center;

}

.carousel_zone{
    width: 90vh;
    padding: 1vh;
    padding-right: 2vh;
    padding-left: 2vh;
}

#images{
    display: flex;
    overflow: hidden;
}

.img_carousel{
    width: 100%;
    border-radius: 2%;
    max-width: 100%;
}

