*{
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.headzone{
    display: flex;
    flex-direction: column;
}

#logo{
    width: 40vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.logotitre{
    display: flex;
    justify-content: center;

}

.menu{
    display: flex;
    height: 5vh;
    background-color: #D40004;
}


.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
}

.carousel_zone{
    width: 80vh;
}

#images{
    display: flex;
    overflow: auto;
}

.img_carousel{
    width: 80vh;
    border-radius: 2%;
}


.arrow{
    width: 5vh;
    height: 5vh;
    padding: 15vh;
}
