*, ::before, ::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: all 0.5s ease-in-out;
}

@font-face {
        font-family: glacial;
        src: url("/glacial-indifference/GlacialIndifference-Regular.otf");

}

body{
    font-family: glacial;
}



.body_zone{
    overflow: hidden;
    /* background-color:cornflowerblue; */
    margin: 1vh;
}


.dark_mode{
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    background-color: black;
}


/*Logo*/

.headzone{
    display: flex;
    flex-direction: column;
}

.logo{
    width: 35vh;

}


.logotitre{
    display: flex;
    justify-content: center;
    padding-top: 1vh;
}


/*Menu*/

.menu{
    display: flex;
    height: 5vh;
    width: 100%;
    /* background-color: yellow; */
    justify-content: space-between;
}

.menu_deroulant{

    display: flex;

    transition: all 0.05s ease;

    transform: translateX(-30vh);
    
    flex-direction: column;
    
    align-items: center;

    justify-content: space-around;

    z-index: -1;


    height: 50vh;
    width: 30vh;

    border-radius: 3%;
}

.menu_deroulant_active{
    display: flex;
    
    transition: all 0.5s ease;

    
    flex-direction: column;
    
    align-items: center;

    justify-content: space-around;

    z-index: 5;

    transform: translateX(1vh);


    height: 50vh;
    width: 25vh;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter:blur(10px);
    background-color: rgba(255, 255, 255, .25);  

    box-shadow: 0 0 1rem black;



    border-radius: 3%;
}

.roulant{
    color: black;

}


.roulant:hover{
    transition: all 0.5s ease-in-out;

    color: #D40004;
    
}


.menu_left{
    /* background-color: #D40004; */
    z-index: 25;
    width: 33%;
}



/*Burger*/

.burger_zone{
    display: flex;

    width: 5vh;
    height: 5vh;

    z-index: 99;

    flex-direction: column;

    justify-content: space-around;

    margin-top: 1vh;

}

.burger_zone:hover div:nth-child(n){
    background-color:black;

}

.burger_zone_dark:hover div:nth-child(n){
    background-color:white;

}

.hamburger{
    height: 0.5vh;
    width: 4vh;
    background-color: grey;
}

.hamburger_dark{
    height: 0.5vh;
    width: 4vh;
    background-color: white
}

#ham{
    height: 0.5vh;
    width: 4vh;
    transition: all 1s ease;
}

.ham_active{
    height: 0.5vh;
    width: 4vh;
    transition: all 2s ease;
    transform: rotateZ(45deg);
    background-color: #D40004;
}

.burger_active{
    height: 0.5vh;
    width: 4vh;
    transition: all 2s ease;
    transform: translateY(-2.5vh) rotateZ(-45deg);
    background-color: #D40004;
}

#burger{
    height: 0.5vh;
    width: 4vh;
    transition: all 1s ease;

}


/*Page Name*/
.name_zone{
    width: 36%;
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: blanchedalmond; */
}

.page_name{
    width: fit-content;
    /*background-color: cadetblue;*/
}


/*Settings */

.menu_right{
    display: flex;

    width: 33%;
    

    justify-content: flex-end;
    align-items: center;

    /* background-color: #D40004; */
}


.mode_dark{
    padding-right: 1vh;
    width: 3vh;
    height: 3vh;
    /*background-color:yellow;*/
}

.sol{
    width: 3vh;
}




/*CAROUSEl*/

.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
    width: 100%;
    /* background-color: crimson; */
}

.carousel_zone{
    width: 101vh;
    padding-left: 1vh;
    padding-right: 1vh;
}

#images{
    display: flex;
    overflow:hidden;
    
}

.img_carousel{
    width: 100%;
    border-radius: 2%;
    max-width: 100%;
}


/*Artists*/

.artist_zone{
    display: flex;
    
    /*background-color: #D40004;*/
    justify-content: center;
}

#artist_box{
    display: flex;
    /*background-color:aquamarine;*/

    flex-wrap: wrap;

    justify-content: center;
}


.artists{
    width: 300px;
    height: 200px;
    margin: 15px;
    background-color:lightsalmon;
}



/*Exposiciones*/
.expo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: burlywood; */
}

.expo_zone{
    display: flex;
    justify-content: center;
    
    flex-wrap: wrap;


    width: 100%;
    
    /* background-color: aquamarine; */
}


.capsule_active{
    display: flex;

    justify-content: center;

    flex-wrap: wrap;


    width: 100%;


    padding: 0.5vh;
    border-radius: 3%;
    margin: 1vh;

}


.capsule{
    display: flex;

    justify-content: center;

    flex-wrap: wrap;


    width: 50vh;
    height: fit-content;


    border-radius: 3%;
    margin: 1vh;

    padding: 0.5vh;

    background-color:lightgray;

}

.expo_titre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;



    border-radius: 3%;
    padding: 1vh;
    /* background-color:darkgreen; */
}

/* .date_titre{
    
} */

.capsule_titre{
    display: none;
}

.expo_img{
    display: flex;

    width: 90vh;

    justify-content: center;

    flex-wrap: wrap;

}

.imgs{
    display: none;
}



.img_expo{
    width: 100%;
    margin: 0.5vh;
    border-radius: 3%;
    display: flex;
}






.expo_article{
    display: none;

}

.expo_article_active{
    display: flex;


    border-radius: 3%;
    padding: 1vh;

    /* background-color: blueviolet; */
}
























/*Séparatiste*/

.separatiste{
    display: flex;
    display: none;
    justify-content: center;

    width: 100%;
    padding: 1vh;
    /* background-color:chartreuse; */
    border: #D40004 0.5vh double;
}

.titre_separatif{
    font-size: 4vh;
    text-decoration: underline;
}






.pied{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 15vh;
    /* background-color: #D40004; */
}

.footer_zone{
    display: flex;

    /* background-color: yellow; */

    width: 100%;
    height: 10vh;
}

.localisation{
    width: 33%;
    /* background-color:blue; */
}

.protection{
    width: 34%;
    /* background-color:darkorange; */
}

.contact{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    /* background-color: violet; */
}